-#
  - p = SketchPage.first

  #coords{ style: 'position: fixed' }
    coords

  %img#page{ data: { bounds: p.bounds }, src: 'ftuflow/pages/' + p.name + '.png', width: '100%' }
  #slice

  %script{ src: 'http://code.jquery.com/jquery-2.1.4.min.js' }
  :javascript
    var getSketchPos = function(e) {
    }

    $("#page").on('mousemove', function(e) {
      var coords = getSketchPos(e);
      $("#coords").html(coords['left'] + ',' + coords['top']);
    });

    $("#page").on('click', function(e) {
      var coords = getSketchPos(e);
      $.getJSON('/pages/1/slice/' + coords['left'] + ',' + coords['top']).done(function(data) {
        $("#slice").html("<img src='ftuflow/slices/" + data.slice + ".png' />");
        console.log(data.slice);
      });
    });
