!!! 5
%html
  %head
    %script{ src: 'https://code.jquery.com/jquery-2.1.3.min.js' }
  %body
    Status:
    %span#status
      Loading..
    %br
    %input{ id: 'search' }
    #query
    #results
    :javascript
      // This thing checks for the status
      var updateStatus = function() {
        $.getJSON('/status', {}, function(data, textStatus, xhr) {
          $("#status").html("<b>" + data.in_sync + "</b> / " + data.files + " files in sync");
          if (data.in_sync != data.files) {
            window.setTimeout(updateStatus, 200);
          }
        });
      }
      updateStatus();

      // It's all about search of course!
      $("#search").focus();

      var search = function(query) {
        $.post('/search', {
          query: query
        }, function(data, status, xhr) {
          $('#query').html('<h2>results for ' + data.search.join(' ') + '</h2>');
          $("#results").html('');
          for (i in data.results) {
            $("#results").append("<div><img width=200 src='" + data.results[i].path + "' /><br />" + data.results[i].tokens.join(' ') + "</div>");
          }
          console.log(data);
          $('#results').append(data.results);
        });
      }

      $('#search').on('keyup', function(e) {
        search(e.target.value);
      });
