!!! 5
%html
  %head
    %title Mosaic
    %link{ rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' }

  %body
    %div{ style: 'width: 1170px; padding: 0 15px; margin: 120px auto;' }
      %h2 Loading...
    %script{ src: '/build/application.js', async: true }
